.bg-light {
	z-index: -1;
	position: absolute;
	background-image: var(--bannerImg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	width: 100%;
	height: clamp(180px, 25vw, 350px);
}

.container {
	max-width: 550px;
	margin: 0 auto;
	padding: 0.5rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	color: white;
	font-size: 3rem;
}

button {
	all: unset;
	cursor: pointer;
}

h1,
button {
	margin: 4rem 0 2rem 0;
}

#todo-input {
	width: 100%;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: var(--VeryLightGrayishBlue);
	color: var(--VeryDarkGrayishBlue);
	outline: none;
	cursor: pointer;
}

.input-wrapper {
	display: flex;
	align-items: center;
	background-color: var(--VeryLightGrayishBlue);
	border-radius: 0.5rem;
	padding-left: 1rem;
}

.todo-container {
	border-radius: 0.5rem 0.5rem 0 0;
	background-color: white;
	margin-top: 1rem;
	background-color: var(--VeryLightGrayishBlue);
}

.todo-item {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 1rem;
	cursor: pointer;
	border-bottom: 1px solid var(--LightGrayishBlue);
	color: var(--VeryDarkGrayishBlue);
}

.circle-container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1;
	border-radius: 1000px;
	border: 1px solid var(--DarkGrayishBlue);
	width: 1.5rem;
}

.cross {
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease;
}

.circle-url {
	display: none;
}

.todo-item:hover .cross {
	opacity: 1;
	visibility: visible;
}

.footer {
	display: flex;
	align-items: center;
	background-color: var(--VeryLightGrayishBlue);
	border-radius: 0.5rem;
}

.mobile-wrapper {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
}

.mobile-wrapper button {
	display: none;
}

button {
	margin: 0;
	padding: 0;
	color: var(--VeryDarkGrayishBlue);
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	border-radius: 0 0 0.5rem 0.5rem;
}

.btn-container {
	display: flex;
	gap: 1.5rem;
}

@media (max-width: 768px) {
	.mobile-wrapper button {
		display: flex;
	}

	.footer .item-btn,
	.clear-btn {
		display: none;
	}
	.footer {
		margin-top: 0.8rem;
		border-radius: 0.5rem;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.todo-container {
		border-radius: 0.5rem;
		gap: 2rem;
	}
}
