:root {
	--LightGray: hsl(0, 0%, 98%);
	--VeryLightGrayishBlue: hsl(236, 33%, 92%);
	--LightGrayishBlue: hsl(233, 11%, 84%);
	--DarkGrayishBlue: hsl(236, 9%, 61%);
	--VeryDarkGrayishBlue: hsl(235, 19%, 35%);

	/* ### Dark Theme */

	--VeryDarkBlue: hsl(235, 21%, 11%);
	--DarkDesaturatedBlue: hsl(235, 24%, 19%);
	--GrayishBlue: hsl(234, 39%, 85%);
	--HoverGrayishBlue: hsl(236, 33%, 92%);
	--DarkGrayishBlue: hsl(234, 11%, 52%);
	--VeryDarkGrayishBlue: hsl(233, 14%, 35%);
	--VeryDarkGrayishBlue: hsl(237, 14%, 26%);

	--bannerImg: url("/src/assets/images/bg-desktop-light.jpg");
}

* {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}

body {
	font-family: "Josefin Sans", serif;
	background-color: var(--LightGray);
}

body[data-theme="dark"] {
	--LightGray: hsl(235, 21%, 11%);
	--VeryLightGrayishBlue: hsl(235, 24%, 19%);
	--VeryDarkGrayishBlue: hsl(233, 11%, 84%);
	--LightGrayishBlue: hsl(234, 11%, 52%);
	--bannerImg: url("/src/assets/images/bg-desktop-dark.jpg");
}
